* {
  font-family: tahoma;
}

body {
    position: relative;
    width: 100%;
    background: url(../img/bg.jpg);
}
/*main conntent container*/

.main-container {
    margin: 0 auto;
    width: 1000px;
    background-color: #ffffff;
    box-shadow: 0 6px 10px #031d28;
   
}
/*Header*/
header {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 175px;
    background-color: #ffffff;
    border-bottom: solid #128aa7 1px;
}

.logo {
    float:left;
    margin-top: 12px;
    margin-left: 25px;
}

/* Логотип приплывает и становится слева в header*/
.baner {
    margin-top: -1px;
    width: 1000px;
}

/*список контактов в верхнем правом углу относительно container*/
.contacts {
    position: absolute;
    left: 85%;
    top: 2%;
    color: #128aa7;
    font-size: 12px;
    line-height: 1.5;
}
/*Первая строка в списке будет жирнее*/
.contacts :first-child {
    font-weight: 500;
    font-size: 12px;
}
/*очистка потока и прижатие к правому краю .country*/
.country {
    clear:right;
    float:right;
    width: 38%;
    margin-top: 11.5%;
    margin-right: 3px;
}
/*оформление картинок и ссылок в списке стран*/
.india,
.nepal,
.tibet,
.butan,
.maldivi {
    float:left;
    width: 15%;
    height: 42px;
    background-repeat:no-repeat;
    background-position: center;
}
/*Отдельно для Шри-Ланки увеличил размер блока*/
.sri-lanka {
  float:left;
  width: 19%;
  height: 42px;
  background-repeat:no-repeat;
  background-position: center;
}

/*Указываем значки стран как фон к блокам списка*/
.india {
    background-image: url(../img/india.png);
}

.nepal {
    background-image: url(../img/nepal.png);
}

.tibet {
    background-image: url(../img/tibet.png);
}

.butan {
    background-image: url(../img/butan.png);
}

.sri-lanka{
    background-image: url(../img/sri-lanka.png);
}

.maldivi {
    background-image: url(../img/maldives.png);
}
/*Закончил указывать значки как фон-------------------------*/

/*Ссылки в виде блоков и отступ от картинки*/
.country a {
    display:block;
    color: #128aa7;
    font-size: 12px;
    padding-top: 42px;
}
/*Пододвигаем ссылки под картинками симитрично*/
.sri-lanka a,
.maldivi a {
    padding-left: 5px;
}
/*Пододвигаем ссылки под картинками симитрично*/
.india a,
.nepal a,
.tibet a,
.butan a {
    padding-left: 14px;
}
.panel {
    clear: both;
    position: relative;
    margin-top: -1px;
    width: 1000px;
    height: 28px;
    background: linear-gradient(to top, #303030, #373737);
    border-bottom: solid #000000 1px;
    box-shadow: 0 0px 6px #000000;
}



.panel ul {
    margin-left: 130px;
}


.panel a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.panel ul li {
    position: relative;
    display: inline-block;
    margin: 8px 35px;
    height: 16px;
    cursor: pointer;
    height: 28px;
}


.panel ul li ul {
    display: none; /* скрываем выпадающе меню */
    position: absolute; /* чтобы положение подменю не влияло на окружение и легко было позиционировать */
    left: -130px;
    top: 20px; /* высоту лучше не делать большей высоты пункта меню первого уровня, иначе попасть на подменю будет проблематично */
    width: 160px;
    background: #303030;
    box-shadow: 0 0px 6px #000000;
}
 .panel ul li ul li {
    float: none;
    display: block;
    background: none;
    padding: 3 0 3 3;
}
 .panel ul li:hover ul {
    display: block; /* при наведении на пункт меню первого уровня, показывем подменю */
}



}
.triangels {
    position: absolute;
    left: 290px;
    top: 15px;
}

.continer {
    clear: both;
    width: 1000px;
    margin: 0 auto;  
}

nav {
    float: left;
    width: 209px;
    background-color: #edeef0;
}

main {
    clear:right;
    margin: 0 auto;
    width: 578px;
    background-color: #ffffff;
    border-left: solid #c7cacf 2px;
    border-right: solid #c7cacf 2px;
}

aside {
    float:right;
    width: 209px;
    background-color: #edeef0;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    color: #424c43;
    text-align: center;
}

nav p,
aside p {
    text-align: center;
    padding: 5px;
}

.copy {
    padding-top:5px;
    text-align: center;
    color: #ffffff;
}
