* {
  font-family: tahoma;
}

body {
    width: 100%;
    height: 1020px;
    background: url(../img/bg.jpg);
    z-index: 1;
}
/*main conntent container*/
.container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 988px;
    background-color: #ffffff;
    box-shadow: 0 6px 10px #031d28;
    overflow: hidden;

}
/*Header*/
header {
    margin: 0 auto;
    width: 1000px;
    height: 175px;
    background-color: #ffffff;
    border-bottom: solid #128aa7 1px;
}
/* Логотип приплывает и становится слева в header*/
header img {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    width: 283px;
    height: 164px;
}
/*список контактов в верхнем правом углу относительно container*/
.contacts {
    position: absolute;
    left: 845px;
    top: 10px;
    color: #128aa7;
    font-size: 12px;
    line-height: 1.5;
}
/*Первая строка в списке будет жирнее*/
.contacts :first-child {
    font-weight: 500;
    font-size: 12px;
}
/*очистка потока и прижатие к правому краю .country*/
.country {
    clear:right;
    float:right;
    margin-top: 114px;
    margin-right: 10px;
}
/*оформление картинок и ссылок в списке стран*/
.india,
.nepal,
.tibet,
.butan,
.maldivi {
    float:left;
    width: 60px;
    height: 42px;
    background-repeat:no-repeat;
    background-position: center;
}
/*Отдельно для Шри-Ланки увеличил размер блока*/
.sri-lanka {
  float:left;
  width: 64px;
  height: 42px;
  background-repeat:no-repeat;
  background-position: center;
}

/*Указываем значки стран как фон к блокам списка*/
.india {
    background-image: url(../img/india.png);
}

.nepal {
    background-image: url(../img/nepal.png);
}

.tibet {
    background-image: url(../img/tibet.png);
}

.butan {
    background-image: url(../img/butan.png);
}

.sri-lanka{
    background-image: url(../img/sri-lanka.png);
}

.maldivi {
    background-image: url(../img/maldives.png);
}
/*Закончил указывать значки как фон-------------------------*/

/*Ссылки в виде блоков и отступ от картинки*/
.country a {
    display:block;
    color: #128aa7;
    font-size: 12px;
    padding-top: 42px;
}
/*Пододвигаем ссылки под картинками симитрично*/
.sri-lanka a,
.maldivi a {
    padding-left: 5px;
}
/*Пододвигаем ссылки под картинками симитрично*/
.india a,
.nepal a,
.tibet a,
.butan a {
    padding-left: 14px;
}

.menu {
    position: relative;
    margin-top: -1px;
    width: 1000px;
    height: 28px;
    background: linear-gradient(to top, #303030, #373737);
    border-bottom: solid #000000 1px;
    box-shadow: 0 0px 6px #000000;
    z-index: 3;
}

.menu li {
    display:inline-block;
    padding-top: 7px;
    margin-left: 64px;
    height: 28px;


}

.menu a {
    text-decoration: none;
    color: #ffffff;
}
.triangels {
  position: absolute;
  left: 290px;
  top: 15px;
}

.drop-travels,
.drop-service,
.drop-partner {
    width: 140px;
    height: 120px;
    position: absolute;
    z-index: -1;
    background-color: #303030;
    box-shadow: 0 5px 10px #000000;
}
.drop-travels {
    left: 175px;
}
.drop-service {
    left: 315px;
}

.drop-partner {
    left: 450px;
}

.drop-travels a,
.drop-service a,
.drop-partner a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
}

.drop-travels li,
.drop-service li,
.drop-partner li {
    padding-top: 5px;
}

nav {
    float: left;
    z-index: 5;
    width: 209px;
    height: 3000px;
    background-color: #edeef0;
}

main {
    margin: 0 auto 0 auto;
    z-index: 5;
    width: 578px;
    height: 3000px;
    background-color: #ffffff;
    border-left: solid #c7cacf 2px;
    border-right: solid #c7cacf 2px;
}

aside {
    clear: right;
    float:right;
    width: 209px;
    height: 3000px;
    background-color: #edeef0;
}
h2 {
    font-size: 18px;
    font-weight: 600;
    color: #424c43;
    text-align: center;
}

nav p,
aside p {
    text-align: center;
}
