body {
      background-color: #f9f9f9;
      font-family: Arial;
}
          /* Left menu navigation -----------------------*/
.nav {
      width: 238px;
      height: 240px;
      float: left;
      margin-left: 46px;
      margin-top: 40px;
      border: solid #c8c8c8 1px;
      font-size: 13px;
}

            /* List of left menu */
.nav  li {
      float: left;
      width: 238px;
      border-top: solid #c8c8c8 1px;
      background-color: #ffffff;
      color: #656363;
}
          /* Links of left menu */
.nav li a  {
      display: block;
      padding: 13px 23px;
      background-color: #ffffff;
      text-decoration: none;
      color: #656363;
}
        /* Delete border top for first-child */
.nav li:first-child  {
      border-top: none;
}

        /* remove text and change bg color*/
.nav li :hover  {
      display: block;
      padding-left: 35px;
      background-color: #f9f9f9;
      color: #2c2c2c;
}
        /* Content position---------------------------*/
.content  {
      float: right;
      margin-top: 40px;
      margin-right: 48px;
      width: 677px;
      height: 640px;
}
         /* Page position in browser------------------- */
.container {
      margin: 0 auto;
      width: 1060px;
      height: 964px;
      background-color:#ffffff;
      box-shadow: 0 0 6px #dbdbdb;

}
        /* logo FITNES */
.logo  {
      margin-left: 45px;
      padding-top: 48px;
}
        /* Header ------------------------------------*/
header  {
      height: 170px;
}
        /* Main menu position*/
.main-list  {
      margin-top: 40px;
      margin-left: 46px;
      width: 966px;
      height: 40px;
      background: linear-gradient(to top, #444343,#5e5e5e);

}
        /*  Main menu List position*/
.main-list li {
      margin-right: 35px;
      padding: 13px 25px 11px 25px;
      display: inline-block;
}
         /* Main menu links list */
.main-list a  {
      font-size: 14.67px;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 1px 1px 0 rgb(53,52,52);
}

.main-list li:hover  {
      padding-left: 24px;
      padding-right: 24px;
      background-color: #343434;
      border-left: solid #838383 1px;
      border-right: solid #838383 1px;
}
/* Header OFF */
          /* text in content */
.content p  {
      margin: 40px 30px 60px 25px;
      font-size: 13px;
      line-height: 1.5;
      color: #2c2c2c;
}
        /* Footer position--------------------------------*/
footer  {
      margin: 60px 48px 60px 46px;
      width: 966px;
      height: 40px;
      clear: both;
      background-color: #e1e1e1;
}
        /* Footers list decoration and position*/
footer li {
      display: inline-block;
      text-decoration: none;
      padding:15px 95px 15px 25px;
      font-size: 13px;
}
        /*Decorations of footer links */
footer a {
      color: #2c2c2c;
      text-decoration: none;
}

footer li :hover  {
      text-decoration: underline;
}
